@charset "UTF-8";

/*PEN STYLES*/

* {
    box-sizing: border-box;
}

.investor-header {
    background-image: url(/image/header-bg.svg);
    text-align: center;
    color: #a3b6c9;
    border-radius: 10px;
    margin-bottom: 10%;
}

.inva {
    font-size: 3rem;
    font-family: cursive;
    font-weight: 500;
    color: #a3b6c9;
}

.inva:hover {
    color: #0F3D3E;
}

.inva-sub {
    font-size: 1.5rem;
}

body {
    background-color: #a2a2a2;
}


/* Cards */

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}

.blog-card a {
    color: inherit;
}

.blog-card a:hover {
    color: #5ad67d;
}

.blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}

.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}

.blog-card .details,
.blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
}

.blog-card .details a {
    -webkit-text-decoration: dotted underline;
    text-decoration: dotted underline;
}

.blog-card .details ul li {
    display: inline-block;
}

.blog-card .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "";
}

.blog-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "";
}

.blog-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "";
    margin-right: 10px;
}

.blog-card .details .tags li {
    margin-right: 2px;
}

.blog-card .details .tags li:first-child {
    margin-left: -4px;
}

.blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
    font-family: Poppins, sans-serif;
}

.blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}

.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}

.blog-card .description .read-more {
    text-align: right;
}

.blog-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
}

.blog-card .description .read-more a:after {
    content: "";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
}

.blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}

.blog-card p {
    position: relative;
    margin: 1rem 0 0;
}

.blog-card p:first-of-type {
    margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}

.blog-card:hover .details {
    left: 0%;
}

@media (min-width: 640px) {
    .blog-card {
        flex-direction: row;
        max-width: 700px;
    }
    .blog-card .meta {
        flex-basis: 40%;
        height: auto;
    }
    .blog-card .description {
        flex-basis: 60%;
    }
    .blog-card .description:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    .blog-card.alt {
        flex-direction: row-reverse;
    }
    .blog-card.alt .description:before {
        left: inherit;
        right: -10px;
        transform: skew(3deg);
    }
    .blog-card.alt .details {
        padding-left: 25px;
    }
}

@media only screen and (min-width: 600px) {
    .gimg {
        position: absolute;
    }
}

video {
    display: block;
    margin: auto;
}

@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
    margin: 1em 0;
    min-width: 300px;
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    padding-top: .5em;
}

.rwd-table td:last-child {
    padding-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

@media (min-width: 480px) {
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }
    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }
}

h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: coral;
}

.rwd-table {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}

.rwd-table tr {
    border-color: #46637f;
}

.rwd-table th,
.rwd-table td {
    margin: .5em 1em;
}

@media (min-width: 480px) {
    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}

.rwd-table th,
.rwd-table td:before {
    color: #dd5;
}